@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

html {
  scroll-behavior: smooth;
}

/* HeroSection Light */

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(230, 100%, 60%, 0.25) 0%,
    hsla(222, 0%, 0%, 0) 35%,
    hsla(222, 0%, 0%, 0) 100%
  );
}

/* Hero Section */
@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300 cursor-pointer;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }

}

@layer utilities {
  .container {
    @apply lg:max-w-5xl
  }
}

/* Custom Keyframes for Orbit Rotation */
@keyframes twinkle {
  0%, 100% { opacity: 0.2; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.2); }
}

@utility animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}

/*for 👋 Custom Keyframes */
@keyframes wave {
  0%, 60%, 100% { transform: rotate(0deg); }
  10%, 30%, 50% { transform: rotate(14deg); }
  20%, 40% { transform: rotate(-8deg); }
}
.animate-waving {
  animation: wave 5s ease-in-out infinite;
}

/* Custom smooth arrowDown bounce keyframes */
@keyframes smooth-bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@utility animate-smooth-bounce {
  animation: smooth-bounce 2s ease-in-out infinite;
}

/* moving */
@keyframes move-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@utility animate-move-left {
  animation: move-left 10s linear infinite;
}

@keyframes move-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(100%);
  }
}

@utility animate-move-right {
  animation: move-right 10s linear infinite;
}
